{% extends "home/base.html" %}
{% load static %}

{% block title %}Image Compression{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/image_compression.css' %}">
{% endblock %}


{% block content %}
{% load crispy_forms_tags %}


  <div class="container mt-5 p-3 shadow rounded" style="max-width: 600px;">
        <h2 class="text-center mt-4">Image Compression</h2>
        <form action="{% url 'compress' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                 {{ compress_form | crispy }} 
            </div>
            <div class="from-group pb-5 text-center">
                <input type="submit" value="Compress" class="btn-custom">
            </div>
        </form>
        {% include 'alerts/alerts.html' %}
    </div>


{% endblock %}

